In [1]:
import pandas as pd

In [2]:
phone_data = 'used_device_data.csv'

df_data = pd.read_csv(phone_data)

df_data.head()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,4.307572,4.715100
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,5.162097,5.519018
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,5.111084,5.884631
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,5.135387,5.630961
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,4.389995,4.947837

In [3]:
# Function to sort the dataframe based:brand_name,os,screen_size,4g,5g,int_memory,ram,battery,weight,release_year
def sort_data():
    return df_data.sort_values(by = ['brand_name','os','screen_size','4g','5g','int_memory','ram','battery','weight','release_year'],na_position = 'first',ignore_index=True)
sort_data()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
0,Acer,Android,7.75,no,no,3.00,0.3,16.0,4.0,1300.0,110.0,2013,942,3.485845,4.611053
1,Acer,Android,7.75,no,no,3.15,0.3,16.0,4.0,1500.0,120.0,2013,901,3.041661,4.610357
2,Acer,Android,10.16,no,no,2.00,2.0,16.0,4.0,1300.0,130.0,2014,685,3.840312,4.509430
3,Acer,Android,10.16,no,no,5.00,1.3,16.0,4.0,1630.0,122.0,2014,719,3.637586,4.600961
4,Acer,Android,10.16,no,no,5.00,2.0,32.0,4.0,1300.0,120.0,2015,603,3.899140,4.493233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,ZTE,Android,16.89,yes,no,48.00,16.0,128.0,8.0,5000.0,215.0,2019,336,5.668052,6.708780
3450,ZTE,Android,16.89,yes,yes,NaN,12.0,128.0,6.0,5100.0,210.0,2020,278,4.652054,5.740147
3451,ZTE,Android,16.89,yes,yes,NaN,8.0,128.0,8.0,4500.0,218.0,2020,133,5.103883,6.198784
3452,ZTE,Android,16.89,yes,yes,NaN,12.0,256.0,8.0,5100.0,215.0,2020,235,5.390851,6.394694
3453,ZTE,Others,10.16,no,no,3.15,5.0,16.0,4.0,1400.0,125.0,2014,1007,3.764451,4.244344

In [4]:
# Lets create a mask/filter of all cell phones with null in main_camera_mp
def create_mask():
    df_filter = sort_data()
    
    return df_filter[df_filter['main_camera_mp'].isnull()]
# A total of 179 cell phones have no values in the main_camera_mp column
create_mask()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
294,Asus,Android,15.34,yes,no,NaN,8.0,64.0,6.0,5000.0,190.0,2019,232,4.492337,6.483872
297,Asus,Android,15.90,yes,no,NaN,8.0,32.0,4.0,4000.0,165.0,2019,524,4.727919,5.701346
298,Asus,Android,15.90,yes,no,NaN,8.0,64.0,4.0,4000.0,165.0,2019,397,4.462800,5.738281
299,Asus,Android,16.74,yes,no,NaN,24.0,128.0,8.0,6000.0,240.0,2019,325,5.715316,7.059317
333,BlackBerry,Android,10.29,yes,no,NaN,8.0,32.0,4.0,3000.0,156.0,2018,552,4.061305,5.802300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,Xiaomi,Android,17.81,yes,yes,NaN,20.0,256.0,8.0,5000.0,253.0,2020,361,5.223917,6.509499
3446,ZTE,Android,16.43,yes,yes,NaN,20.0,128.0,6.0,4000.0,168.0,2020,217,5.371242,6.232743
3450,ZTE,Android,16.89,yes,yes,NaN,12.0,128.0,6.0,5100.0,210.0,2020,278,4.652054,5.740147
3451,ZTE,Android,16.89,yes,yes,NaN,8.0,128.0,8.0,4500.0,218.0,2020,133,5.103883,6.198784
3452,ZTE,Android,16.89,yes,yes,NaN,12.0,256.0,8.0,5100.0,215.0,2020,235,5.390851,6.394694

In [5]:
# lets create a function to fill all the 179 null values for main_camera_mp
def fill_na():
    new_df = sort_data()
    new_df[['main_camera_mp']] = new_df[['main_camera_mp']].fillna(method = 'ffill',axis=0)
    return new_df
fill_na()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,normalized_used_price,normalized_new_price
0,Acer,Android,7.75,no,no,3.00,0.3,16.0,4.0,1300.0,110.0,2013,942,3.485845,4.611053
1,Acer,Android,7.75,no,no,3.15,0.3,16.0,4.0,1500.0,120.0,2013,901,3.041661,4.610357
2,Acer,Android,10.16,no,no,2.00,2.0,16.0,4.0,1300.0,130.0,2014,685,3.840312,4.509430
3,Acer,Android,10.16,no,no,5.00,1.3,16.0,4.0,1630.0,122.0,2014,719,3.637586,4.600961
4,Acer,Android,10.16,no,no,5.00,2.0,32.0,4.0,1300.0,120.0,2015,603,3.899140,4.493233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,ZTE,Android,16.89,yes,no,48.00,16.0,128.0,8.0,5000.0,215.0,2019,336,5.668052,6.708780
3450,ZTE,Android,16.89,yes,yes,48.00,12.0,128.0,6.0,5100.0,210.0,2020,278,4.652054,5.740147
3451,ZTE,Android,16.89,yes,yes,48.00,8.0,128.0,8.0,4500.0,218.0,2020,133,5.103883,6.198784
3452,ZTE,Android,16.89,yes,yes,48.00,12.0,256.0,8.0,5100.0,215.0,2020,235,5.390851,6.394694
3453,ZTE,Others,10.16,no,no,3.15,5.0,16.0,4.0,1400.0,125.0,2014,1007,3.764451,4.244344

In [6]:
def check_if_nulls_exist():
    df_new = fill_na()
    
    return df_new[df_new['main_camera_mp'].isnull()]
# This should return zero columns
check_if_nulls_exist()

Empty DataFrame
Columns: [brand_name, os, screen_size, 4g, 5g, main_camera_mp, selfie_camera_mp, int_memory, ram, battery, weight, release_year, days_used, normalized_used_price, normalized_new_price]
Index: []

### Write final data to csv

In [7]:
df_to_csv = fill_na()
df_to_csv.to_csv('New_Phone_Data.csv')